$border-color: #f1f1f1;
$speed2x: 0.3s ease-in-out;
$speed: 0.5s ease-in-out;

//colors
$lblue: rgb(0, 184, 255);
$black: rgb(10, 0, 0);
$red: rgb(255, 0, 94);
$dblue: rgb(19, 28, 49);
$ldblue: rgb(109, 109, 109);
$white: rgb(229, 232, 231);
$blue: rgb(0, 123, 255);

//fonts
$font1: "Montserrat", sans-serif;
$font1-bold: "Montserrat Bold", sans-serif;
$font1-light: "Montserrat Light", sans-serif;
$font1-medium: "Montserrat Medium", sans-serif;
