@import "partials/params";
@import "partials/mixins";
@font-face {
  font-family: "Montserrat Light";
  src: local("Montserrat Medium"),
    url("../assets/webfonts/montserrat-light.woff") format("woff");
}
@font-face {
  font-family: "Montserrat Medium";
  src: local("Montserrat Medium"),
    url("../assets/webfonts/montserrat-medium.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("../assets/webfonts/montserrat-regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat Bold";
  src: local("Montserrat Bold"),
    url("../assets/webfonts/montserrat-bold.woff") format("woff");
}
$lblue05: rgba($lblue, 0.5);
$white05: rgba($white, 0.5);

:root {
  --lblue: #{$lblue};
  --lblue-05: #{$lblue05};
  --black: #{$black};
  --dblue: #{$dblue};
  --ldblue: #{$ldblue};
  --blue: #{$blue};
  --white: #{$white};
  --white-05: #{$white05};
  --speed2x: #{$speed2x};
  --speed: #{$speed};
  --red: #{$red};
}

html,
body {
  background-color: var(--black);
  overflow: hidden;
  color: $white;
  height: 100%;
  margin: 0;
  padding: 0;
}

#response {
  position: fixed;
  top: 0;
  background-color: rgba(#000, 0.5);
  left: 0;
  transition: $speed;
  right: 0;
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  z-index: -999;

  &.success {
    opacity: 1;
    visibility: visible;
    z-index: 999;

    .response {
      &-title {
        color: var(--lblue);
        border-color: var(--lblue);
        opacity: 1;
        visibility: visible;
        animation: modal_fadeIn var(--speed2x) 1;
      }
    }
  }

  &.error {
    opacity: 1;
    visibility: visible;
    z-index: 999;

    .response {
      &-title {
        border-color: var(--red);
        opacity: 1;
        visibility: visible;
        color: var(--red);
        animation: modal_fadeIn var(--speed2x) 1;
      }
    }
  }

  .response {
    &-title {
      text-align: center;
      font-family: $font1-bold;
      font-size: 2em;
      transition: $speed;
      opacity: 0;
      visibility: hidden;
      border: 2px solid transparent;
      padding: 5px 15px;
      border-radius: 5px;
      background-color: var(--black);
      @include centerXY();
    }
  }
}

@keyframes modal_fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.3);
  }

  100% {
    opacity: 1;
  }
}

svg {
  path {
    stroke: var(--lblue);
  }
}

.container {
  @media (min-width: 1300px) {
    max-width: 70vw;
  }
}

#loader {
  position: fixed;
  background-color: var(--black);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: var(--speed);
  z-index: 99999999999;

  &.loaded {
    visibility: hidden;
    opacity: 0;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    content: "";
    border: 4px solid var(--lblue);
    background-color: transparent;
    border-radius: 5px;
    animation: loader 1s linear infinite;
    width: 100px;
    height: 100px;
  }
}

@keyframes loader {
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  40% {
    background-color: transparent;
  }

  50% {
    background-color: var(--lblue);
  }

  60% {
    background-color: transparent;
  }

  70% {
    background-color: var(--lblue);
  }

  80% {
    background-color: transparent;
  }

  100% {
    transform: translate(-50%, -50%) rotate(45deg * 7);
  }
}

.change-lang {
  @include centerX(30px);
  color: darken($white, 30%);
  transition: var(--speed2x);
  @include sm() {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }
  &:hover {
    color: var(--white);
    text-decoration: none;
    text-shadow: 0 0 5px var(--white);
  }
}

.row {
  @include md() {
    margin-right: 0;
    margin-left: 0;
  }
}

.text {
  &-neon {
    color: var(--lblue);
  }

  &-white {
    color: var(--white);
  }
}
