.center-y {
  top: 50%;
  left: 0;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.center-x {
  top: 0;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.center-xy {
  top: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes openMenu {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes openMenu {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes closeMenu {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
}

@keyframes closeMenu {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  bottom: 0;
  -webkit-transition: var(--speed2x);
  transition: var(--speed2x);
  z-index: 99;
  background-color: var(--dblue);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: openMenu 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 forwards;
          animation: openMenu 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 forwards;
}

#menu.hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: closeMenu 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 forwards;
          animation: closeMenu 0.35s cubic-bezier(0.455, 0.03, 0.515, 0.955) 1 forwards;
}

#menu .nav-link {
  font-size: 5vh;
  text-align: center;
  -webkit-transition: var(--speed2x);
  transition: var(--speed2x);
  color: var(--white-05);
  position: relative;
  font-family: "Montserrat", sans-serif;
  z-index: 999;
}

#menu .nav-link:active {
  color: #e5e8e7;
  text-shadow: 0 0 10px var(--white);
}

#menu .center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.navbar {
  position: fixed;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  left: 0;
  z-index: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90px;
  background-color: transparent;
}

@media (max-width: 576px) {
  .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: auto;
    position: fixed;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
  }
}

.navbar-toggler {
  width: 55px;
  height: 35px;
  overflow: hidden;
  z-index: 101;
  border-radius: 0;
  text-align: center;
  position: relative;
  display: none;
}

.navbar-toggler:focus {
  outline: inherit;
}

@media (min-width: 767px) {
  .navbar-toggler {
    cursor: pointer;
  }
  .navbar-toggler:hover .stick-2 {
    background-color: var(--neon);
  }
}

.navbar-toggler .stick {
  width: 70%;
  height: 4px;
  -webkit-transition: var(--speed2x);
  transition: var(--speed2x);
  background-color: var(--white);
  position: absolute;
  top: calc(0% + 5px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.navbar-toggler .stick-2 {
  top: calc(50% - 2px);
}

.navbar-toggler .stick-3 {
  top: calc(100% - 4px - 5px);
}

.navbar-toggler.show .stick {
  left: calc(100% / 2 - 19px);
}

.navbar-toggler.show .stick-1 {
  top: calc(50% - 2px);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navbar-toggler.show .stick-2 {
  opacity: 0;
}

.navbar-toggler.show .stick-3 {
  top: calc(50% - 2px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*# sourceMappingURL=menu.css.map */