.center-y {
  top: 50%;
  left: 0;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.center-x {
  top: 0;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.center-xy {
  top: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body.is-mobile {
  overflow: auto;
  background-color: var(--black);
  height: 100%;
}

body.is-mobile .container {
  padding: 0;
}

body.is-mobile #pic {
  opacity: 0.6;
  -webkit-animation: none !important;
          animation: none !important;
  left: 0;
  background-position: 50%;
}

body.is-mobile #header {
  position: relative;
}

body.is-mobile #header .header-title {
  font-size: 7.2vw;
}

body.is-mobile #header .header-subtitle {
  font-size: 4.2vw;
}

body.is-mobile .change-lang {
  position: static;
  color: var(--white-05);
  -webkit-transition: var(--speed2x);
  transition: var(--speed2x);
}

body.is-mobile .change-lang:active {
  color: var(--white);
  text-decoration: none;
  text-shadow: 0 0 5px var(--white);
}

body.is-mobile .navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: auto;
  position: fixed;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--dblue);
}

body.is-mobile .navbar-toggler {
  display: block;
}

body.is-mobile #skills .skills-wrap {
  padding: 0;
  opacity: 1;
}

body.is-mobile #skills .skills-progress-value {
  padding: inherit;
}

body.is-mobile #portfolio .portfolio-content {
  margin-bottom: 20px;
}

body.is-mobile #portfolio .portfolio-content .portfolio-link {
  -webkit-transform: none;
          transform: none;
  text-decoration: none;
}

body.is-mobile #portfolio .portfolio-content .portfolio-link::before {
  display: none;
}

body.is-mobile #portfolio .portfolio-content .portfolio-link:hover .portfolio-thumb {
  -webkit-filter: none;
          filter: none;
}

body.is-mobile #portfolio .portfolio-content .portfolio-link:hover .portfolio-thumb::before {
  display: none;
}

body.is-mobile #portfolio .portfolio-content .portfolio-link:active .portfolio-link {
  -webkit-transform: none;
          transform: none;
  text-decoration: none;
}

body.is-mobile #portfolio .portfolio-thumb {
  -webkit-filter: none;
          filter: none;
}

body.is-mobile #portfolio .portfolio-title {
  position: static;
  -webkit-transform: none;
          transform: none;
  background-color: var(--dblue);
  visibility: visible;
  opacity: 1;
  color: var(--lblue);
}

body.is-mobile #portfolio .portfolio-link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding: 0;
  padding-bottom: 20px;
}

body.is-mobile #portfolio .portfolio-link:last-child {
  padding-bottom: 0;
}

body.is-mobile #contacts .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.is-mobile #contacts .form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

body.is-mobile #contacts .form-control {
  font-size: 16px;
  margin-bottom: 2vw;
  height: auto !important;
}

body.is-mobile .section {
  position: static;
  opacity: 1;
  visibility: visible;
  padding: 0 20px;
  padding-top: 50px;
  -webkit-transition: var(--speed2x);
  transition: var(--speed2x);
  display: block;
  height: auto;
}

body.is-mobile .section-title {
  font-size: 8vw;
}

body.is-mobile .section-subtitle {
  font-size: 5vw;
}

body.is-mobile .section-content p {
  font-size: 4vw;
}

body.is-mobile .section-slider-ids {
  display: none;
}

body.is-mobile .section-slider-counter {
  display: none;
}

body.is-mobile .footer {
  position: static;
  visibility: visible;
  opacity: 1;
  margin-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 15px 0;
}
/*# sourceMappingURL=mobile.css.map */