.center-y {
  top: 50%;
  left: 0;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.center-x {
  top: 0;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.center-xy {
  top: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes percent {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes percent {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

#skills.section.active .skills-wrap {
  opacity: 1;
}

#skills .skills-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 0;
  height: 5vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  padding-left: 0;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: relative;
  margin: 3vh 0 0 0;
}

#skills .skills-wrap:first-child {
  margin: 0;
}

@media (min-width: 767px) {
  #skills .skills-wrap:hover .skills-progress {
    background-color: var(--lblue-05);
  }
  #skills .skills-wrap:hover .skills-progress-percent::before {
    background-color: var(--lblue);
  }
  #skills .skills-wrap:hover .skills-progress-value {
    color: var(--lblue);
  }
}

@media (max-width: 576px) {
  #skills .skills-wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767px) {
  #skills .skills-wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#skills .skills-wrap:active .skills-progress {
  background-color: var(--lblue-05);
}

#skills .skills-wrap:active .skills-progress-percent::before {
  background-color: var(--lblue);
}

#skills .skills-wrap:active .skills-progress-value {
  color: var(--lblue);
}

#skills .skills-name {
  font-size: 4vh;
  font-family: "Montserrat Medium", sans-serif;
  text-align: right;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 50%;
  left: 40px;
  z-index: 9;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--black);
}

@media (max-width: 767px) {
  #skills .skills-name {
    font-size: 3.7vw;
    left: 3vw;
  }
}

#skills .skills-progress {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  -webkit-transition: var(--speed2x);
  transition: var(--speed2x);
  height: 5vh;
  max-width: 70%;
  position: relative;
  background-color: var(--white-05);
}

@media (max-width: 767px) {
  #skills .skills-progress {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
            flex: 0 0 85%;
    max-width: 85%;
  }
}

#skills .skills-progress-percent {
  height: 100%;
  position: relative;
}

#skills .skills-progress-percent::before {
  position: absolute;
  top: 0;
  content: "";
  -webkit-transition: var(--speed2x);
  transition: var(--speed2x);
  width: 100%;
  left: 0;
  background-color: var(--white);
  bottom: 0;
}

#skills .skills-progress-value {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  max-width: 10%;
  font-size: 4vh;
  padding-left: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: var(--speed2x);
  transition: var(--speed2x);
  text-align: left;
}

@media (max-width: 767px) {
  #skills .skills-progress-value {
    font-size: 3.5vw;
  }
}
/*# sourceMappingURL=section-skills.css.map */